.u-section-1 {
  background-image: linear-gradient(#a7e0f9, #ddedf4);
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 109px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 100px;
  margin-bottom: 60px;
}

.u-block-b63d-49 {
  border-style: solid;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 10px 21px;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 11px 23px 13px 21px;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
}

.u-section-1 .u-table-cell-21 {
  border-style: solid;
}

.u-section-1 .u-table-cell-22 {
  border-style: solid;
}

.u-section-1 .u-table-cell-23 {
  border-style: solid;
}

.u-section-1 .u-table-cell-24 {
  border-style: solid;
}

.u-section-1 .u-table-cell-25 {
  border-style: solid;
}

.u-section-1 .u-table-cell-26 {
  border-style: solid;
}

.u-section-1 .u-table-cell-27 {
  border-style: solid;
}

.u-section-1 .u-table-cell-28 {
  border-style: solid;
}

.u-section-1 .u-table-cell-29 {
  border-style: solid;
}

.u-section-1 .u-table-cell-30 {
  border-style: solid;
}